<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="smoke">
  <test thread-count="5" name="Test">
  
  	 <classes>
      <class name="com.test.dev.DevTest"/>
      <class name="com.test.qa.QaTest"/>
      <class name="com.test.uat.UATTest"/>
      <class name="com.test.prod.ProdTest"/>
    </classes>
  	
  </test> 
  
</suite> <!-- Suite -->
